#root {
  background: #333;
}

.App {
  text-align: center;
  background: white;
  width: 1000px;
  height: 800px;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  font-size: 18px;
  color: #282c34;
  height: 100%;
}

a {
  color: #333;
}

.Smiles {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  flex: 3;
}

.FeatureKey {
  text-decoration: none;
}
.FeatureKey:hover {
  color: purple !important;
}

.Explore {
  overflow-y: scroll;
  flex: 3;
  height: 100%;
  background: #f8f8f8;
}

.Panel {
  display: inline-block;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
}


.Explore-thumbnail {
  display: inline-block;
  cursor: pointer;
  margin: 5px;
}

.Explore-thumbnail:hover {
  position: relative;
  top: -2px;
}